<form
  (ngSubmit)="onSubmit($event)"
  #postForm="ngForm">

<div  fxFlexFill fxLayout="row" fxLayoutAlign="center center">
  <md-card id="card">
    <md-card-content *ngIf="!uploading" fxFlex >
  <div fxFlex fxLayoutAlign="center" fxLayout="column" >
    <div fxFlex>
      <md-input-container>
      <input  mdInput
              required
              minlength="1"
              maxlength="30"
              placeholder="Title"
              [(ngModel)]="info.title"
              name="title"
              #title="ngModel">
        <md-hint
              *ngIf="title.errors?.requierd"
              [ngStyle]="{'color': 'red'}"
              align="start">
          A title is needed.
        </md-hint>
      </md-input-container>
    </div>
    <div fxflex>
      <app-oploader (filesSelected)="getImages($event)"></app-oploader>
    </div>
    <div fxFlex>
        <textarea id="braintext" rows="4"
                  [(ngModel)]="info.content"
                  #content="ngModel"
                  required
                  maxlength="1000"
                  minlength="1"
                  name="content"
                  placeholder="Content">

        </textarea>
      <md-hint
        *ngIf="content.errors?.maxlength"
        [ngStyle]="{'color': 'red'}"
        align="start">
        you can only use 1000 caractors</md-hint>
    </div>
    <div fxflex>
      <button type="submit" md-raised-button color="primary" >Post!!</button>
      <button (click)="cancel()" md-raised-button color="primary">Cancel</button>
    </div>
  </div>

    </md-card-content>
    <div id="spinnerbox" fxFlex *ngIf="uploading" fxLayoutAlign="center center">
    <md-spinner fxFlexAlign="center center" id="spinner"></md-spinner>
    </div>
  </md-card>
</div>
</form>

