<form
  (ngSubmit)="onSubmit($event)"
  #postForm="ngForm">

  <div  fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <md-card id="card">
      <md-card-content *ngIf="!uploading" fxFlex >
        <div fxFlex fxLayoutAlign="center" fxLayout="column" >
          <div fxFlex>
            <md-input-container>
              <input  mdInput
                      required
                      minlength="1"
                      maxlength="30"
                      placeholder="Title"
                      [(ngModel)]="title"
                      name="titleInput"
                      #titleInput="ngModel">
              <md-hint
                *ngIf="titleInput.errors?.required"
                [ngStyle]="{'color': 'red'}"
                align="start">
                A title is needed.
              </md-hint>
            </md-input-container>
          </div>
          <div fxFlex>
        <textarea id="braintext" rows="4"
                  [(ngModel)]="content"
                  #contentInput="ngModel"
                  required
                  maxlength="1000"
                  minlength="1"
                  name="contentInput"
                  placeholder="Content">
        </textarea>
            <md-hint
              *ngIf="contentInput.errors?.required"
              [ngStyle]="{'color': 'red'}"
              align="start">
              content must between 1 and 1000 carators</md-hint>
          </div>
          <div fxflex>
            <button type="submit" md-raised-button color="primary" >Done</button>
            <button (click)="cancel()" md-raised-button color="primary">Cancel</button>
          </div>
        </div>

      </md-card-content>
      <div id="spinnerbox" fxFlex *ngIf="uploading" fxLayoutAlign="center center">
        <md-spinner fxFlexAlign="center center" id="spinner"></md-spinner>
      </div>
    </md-card>
  </div>
</form>
