<div fxLayout="row" class="category-row">

  <div class="category-row-cell category-logo-container">
    <img src={{subject.imageUrl}} class="category-logo">
  </div>
  <div fxLayout="column" class="category-row-cell category-title-cell">
    <div fxFlex class="category-title">

      <a routerLink="/forum/subject/{{subject.uid}}">{{subject.title}}</a>
    </div>
  </div>
  <div fxFlex class="subject-latest-post">
    <a *ngIf="latestPost" href="forum/subject/{{subject.uid}}/post/{{latestPost.uid}}">{{latestPostTitle}}</a>
  </div>
</div>
