.post-reply-header {
  font-size: 16px;
  text-decoration: underline;
}

.post-reply-content {
  margin-top: 3px;
  font-size: 13px;
}
.post-reply-list-container {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10px;

}
