<md-card class="post-reply-list-container" *ngIf="sub">
  <md-card *ngFor="let reply of sub | async" fxLayout="column">
    <div fxLayout="row" class="post-reply-header">{{reply.info.username}} replied:</div>
    <div fxLayout="row" class="post-reply-content">{{reply.info.content}}</div>
  </md-card>
</md-card>
