<div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
  <md-card id="login-container" style="padding: 0px;">
    <md-card-content>
      <div fxLayout="column" fxLayoutAlign="space-between stretch" >
        <div fxFlex id="title-container">
          <div fxLayout="row">
            <div><md-icon>lock_outline</md-icon></div>
            <div id="title" fxFlexFill> Login </div>
          </div>
        </div>
        <div fxFlex>
          <div class="separator"></div>
        </div>
        <div fxFlex *ngIf="error" id="error">
          {{ error }}
        </div>
        <md-tab-group *ngIf="loading == false">
          <md-tab label="E-mail">
            <div class="tabs">
            <form (ngSubmit)="onSubmit($event)" #heroForm="ngForm">
              <div fxLayout="column" fxLayoutAlign="space-between stretch" >
                <div fxFlex>
                  <md-input-container class="fields">
                    <input mdInput required [(ngModel)]="user.email" name="email" placeholder="E-mail">
                  </md-input-container>
                </div>
                <div fxFlex>
                  <md-input-container class="fields">
                    <input mdInput [(ngModel)]="user.password" name="password" required placeholder="Password">
                  </md-input-container>
                </div>
                <div fxFlex class="fields">
                  <md-checkbox [(ngModel)]="user.rememberMe" name="rememberMe">Remember me.</md-checkbox>
                </div>
                <div fxFlex>
                  <button type="submit" md-raised-button color="primary" class="button" [disabled]="!heroForm.form.valid">Sign in</button>
                </div>
              </div>
            </form>
            </div>
          </md-tab>
          <md-tab label="Others">
            <div fxLayout="row" fxLayoutAlign="space-around center" id="others-container">
              <button md-button (click)="loginWithFacebook()">Facebook</button>
              <!-- NYI -->
              <button md-button>Google</button>
              <!-- NYI -->
              <button md-button>Twitter</button>
            </div>
          </md-tab>
        </md-tab-group>
        <md-spinner *ngIf="loading" fxFlexAlign="center" id="spinner"></md-spinner>
      </div>



    </md-card-content>
  </md-card>
</div>
