#login-container {
  width: 400px;
  height: 420px;
  margin-top: 40px;
}

#others-container {
  margin-top: 30px;
}

#spinner {
  margin-top: 70px;
}

#error {
  color: red;
}

#title-container {
  padding: 25px 25px 0px 25px;
}

#title {
  font-size: 22px;
  padding-left: 5px;
}

.separator {
  background-color: #E0E0E0;
  height: 1px;
  margin: 20px 0px 10px 0px;
}

.fields {
  width: 100%;
  margin: 20px 0px 0px 0px;
}

.button {
  margin-top: 30px;
}

.tabs {
  padding: 0px 25px 25px 25px;
}

