.post-page-container {
  margin-left: 15%;
  margin-right: 15%;
}

.post-header {
  height: 100px;
  width: 80%;

}

.post-page-title-header {
  font-size: 24px;
  background-color: cornflowerblue;
  color: azure;
  height: auto;
  padding: 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.post-page-user-container {
  padding: 10px 3px 10px 3px;

  width: 150px;
  max-height: 200px;

  border-right: 1px solid black;
}

.post-page-user-image {
  width: 100px;
  height: 100px;
}

.post-page-post-container {
  padding: 10px;
  margin: 0px 10px 0px 10px;
}

.post-page-text-container {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.post-page-datestamp {
  font-size: 10px;
  font-family: "Arial Narrow";
  font-style: italic;
  margin-bottom: 10px;
  }

.post-reply-container {
  margin-top: 10px;
  margin-left: 15%;
}
