<md-card fxLayout="column" class="post-page-container">
  <md-card fxLayout="row" class="post-page-title-header">
    <p *ngIf="user">{{post.info.title}}</p>
  </md-card>
  <div fxLayout="row">
    <div fxLayout="column" class="post-page-user-container">
      <div fxLayout="row" *ngIf="user">{{user.profile.username }}</div>
      <div fxLayout="row">

        <img src="http://www.clipartkid.com/images/0/smiley-face-clip-art-dr-odd-uWlQ3w-clipart.jpg"
             class="post-page-user-image">
      </div>
    </div>
    <div fxLayout="column" class="post-page-post-container">
      <div fxFlex class="post-page-text-container" *ngIf="user">
        {{post.info.content}}
      </div>
    </div>
  </div>
</md-card>
<div *ngIf="post">
  <app-forum-post-page-image-viewer [postUid]="post.uid"></app-forum-post-page-image-viewer>
</div>
<div *ngIf="post" >
  <app-reply-list [postUid]="post.uid"></app-reply-list>
</div>

<div fxLayoutAlign="start" class="post-reply-container">
  <app-replycreatesmart   *ngIf="post" [postuid]="post.uid"></app-replycreatesmart>
</div>
