<md-card class="category-container">
  <md-card fxLayout="row"  class="title-header">
    <div  class="category-logo-container"></div>
    <div  class="category-title-cell">{{category.title}}</div>
    <div fxFlex class="category-header-latest-post">Latest post</div>
  </md-card>
  <md-nav-list>
    <!--<md-list-item class="category-row" >-->
    <app-forum-subject *ngFor="let subject of category.subjects" [subject]="subject"></app-forum-subject>
    <!--</md-list-item>-->
  </md-nav-list>

</md-card>

