
<div fxLayout="column" fxLayoutAlign="center">

  <div id="image-container" fxFlex>
    <div fxLayout="row" fxLayoutAlign="center">
      <md-card fxFlex="95">
        <md-card-content fxLayoutAlign="center">
          <img id="image" src="https://bricksafe.com/files/nathan/blog/old/IMG_3382.jpg">
        </md-card-content>
        <md-card-footer id="card-fotter-one" fxLayoutAlign="center">
          Welcome to the forum of robo-builders and other godly abominations.
        </md-card-footer>
      </md-card>
    </div>
  </div>
  <br>
  <div fxFlex>
    <div fxLayout="row" fxLayoutAlign="center">

      <div id="container-left" fxLayout="column" fxFlex="95">
        <md-card fxLayoutAlign="center">
          Newest posts
        </md-card>
        <md-card id="image-scroller" fxLayoutAlign="center">
          <md-card-content >
            <div fxLayout="column" fxLayoutWrap>
              <app-image-wrapper *ngFor="let post of posts" [post]="post"></app-image-wrapper>
            </div>
          </md-card-content>
        </md-card>
      </div>

    </div>
  </div>

</div>






