#image-scroller{
  overflow: auto;
  max-height: 500px;
  background-color: lightgray;
}
 #image{
   width: 100%;
   max-width: 900px;
 }

 #image-container{

 }

 #container-left{
  margin-right: 5px;
 }

 #container-right{
  margin-left: 5px;
 }

