<md-toolbar id="toolbar" color="primary">
  <!-- Uses with: 100%; cause the md-toolbar doesn't expand childrens. -->
  <div fxLayout="row" fxFlexAlign="space-around center" style="width: 100%;">
    <div fxFlex>
      <button md-button routerLink="/home"><md-icon style="margin-top: -5px;">home</md-icon> {{title}}</button>
      <button md-button routerLink="/forum">Forum</button>
    </div>

    <div fxFlex fxLayoutAlign="end center">
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>list</md-icon>
      </button>

      <md-menu #menu="mdMenu">
        <button md-menu-item *ngIf="isAuthenticated" routerLink="/profile">
          <md-icon>android</md-icon>
          <span>Profile</span>
        </button>
        <button md-menu-item (click)="logoutUser()" *ngIf="isAuthenticated">
          <md-icon>home</md-icon>
          <span>Logout</span>
        </button>
        <button md-menu-item routerLink="/login" *ngIf="!isAuthenticated">
          <md-icon>forward</md-icon>
          <span>Login</span>
        </button>
        <button md-menu-item routerLink="/register" *ngIf="!isAuthenticated">
          <md-icon>grade</md-icon>
          <span>Register</span>
        </button>
      </md-menu>
    </div>
  </div>
</md-toolbar>
