#file-scroller{
  overflow: auto;
  height: 40px;
  margin-top: 10px;
  margin-bottom:10px;
  font-size: 12px;
  border-bottom:1px solid gray ;
}
#header{
  border-bottom: 1px solid gray;
}
.space{
  padding-bottom: 10px;
}
