<input class="space" type="file" accept="image/*" #fileInput (change)="changed(fileInput.files)" multiple />
<div class="space" fxLayout="column">
  <div id="header" fxLayout="row">
    <div fxFlex >Name</div>
    <div fxFlex >Size(bytes)</div>
  </div>
  <div id="file-scroller">
     <div fxLayout="row"  *ngFor="let file of files">
          <div fxFlex>{{file.name}}</div>
          <div fxFlex>{{file.size}}</div>
    </div>
  </div>
  <div>Images: {{files.length}}</div>
</div>
