/*Container for the category*/
.category-container {
  margin-bottom: 20px;
  width: 80%;
  left: 10%;
}
/*each row in the category*/
.category-row {
  border-top: 1px solid black;
  height: 55px;
  padding-top: 2px;
  margin-top: 10px;
}

.link-clickable-div{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
}


.category-title-cell{
  width: 450px;
}

/*logo for each row*/
.category-logo {
  width: 51px;
  height: 51px;
}

/*container for logo*/
.category-logo-container {
  width: 55px;
}

.category-row-cell {
  border: 0px solid black;
}

.category-statistics {
  text-align: center;
  font-size: 12px;
  width: 150px;
  min-width: 100px;
}

.category-description {
  padding: 2px;
  font-size: 10px;
}

.category-title {
  font-size: 18px;
  padding: 2px;
}

.bordered {
  border: 1px solid black;
}

.title-header {
  font-size: 16px;
  background-color: cornflowerblue;
  color: azure;
  height: auto;
  padding: 5px;
  margin-bottom: -16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
