<md-card class="post-page-image-container" fxLayout="row">
  <!-- If no images are present show a message -->
  <div *ngIf="images.length == 0">
    No pictures to show
  </div>
  <!-- Create an anchor for each image. Opens in a new tab on press -->
    <a *ngFor="let image of images" target="_blank" [href]="image"><img class="post-page-image" [src]="image"/></a>

</md-card>
