.post-page-image-container {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10px;
  overflow-x: scroll;
  overflox-y: hidden;
  max-height: 150px;
}

.post-page-image {
  width:120px;
  height: 80px;
  margin-right: 10px;

}



