<div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
  <md-card id="register-container">
    <md-card-content>
      <div fxLayout="column" fxLayoutAlign="space-between stretch" >
        <div fxFlex>
          <div fxLayout="row">
            <div><md-icon>lock_outline</md-icon></div>
            <div id="title" fxFlexFill> Sign up </div>
          </div>
        </div>
        <div fxFlex>
          <div class="separator"></div>
        </div>
        <div fxFlex *ngIf="error" id="error">
          {{ error }}
        </div>
        <div fxFlex *ngIf="auth">
        <md-tab-group>
          <md-tab label="E-mail">

            <form (ngSubmit)="onAuthSubmit($event)" #authForm="ngForm">
              <div fxLayout="column" fxLayoutAlign="space-between stretch" >

                <!-- E-mail field begin. -->
                <div fxFlex>
                  <md-input-container class="fields">
                    <input mdInput
                           required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                           [(ngModel)]="model.user.profile.email"
                           #email="ngModel"
                           name="email"
                           placeholder="E-mail">
                    <md-hint
                      *ngIf="!email.pristine && email.errors?.required"
                      [ngStyle]="{'color': 'red'}"
                      align="start">
                      Email required
                    </md-hint>
                    <md-hint *ngIf="!email.pristine && email.errors?.pattern"
                             [ngStyle]="{'color': 'red'}"
                             align="start">
                      Email invalid
                    </md-hint>
                  </md-input-container>
                </div>
                <!-- E-mail field end. -->

                <!-- Password field begin. -->
                <div fxFlex>
                  <md-input-container class="fields">
                    <input mdInput
                           type="password"
                           minlength="6"
                           [(ngModel)]="model.password"
                           #password="ngModel"
                           name="password"
                           required
                           placeholder="Password">
                    <md-hint
                      *ngIf="!password.pristine && password.errors?.required"
                      [ngStyle]="{'color': 'red'}"
                      align="start">
                      Password required
                    </md-hint>
                    <md-hint
                      *ngIf="!password.pristine && password.errors?.minlength"
                      [ngStyle]="{'color': 'red'}"
                      align="start">
                      Password to short (min. 6 characters)
                    </md-hint>
                  </md-input-container>
                </div>
                <!-- Password field end. -->

                <!-- RepeatPasswod field begin. -->
                <div fxFlex>
                  <md-input-container class="fields">
                    <input mdInput
                           type="password"
                           name="repeatPassword"
                           [(ngModel)]="model.repeatPassword"
                           #repeatPassword="ngModel"
                           required
                           appValidateEqualTo="password"
                           placeholder="Repeat password">
                    <md-hint
                      *ngIf="!repeatPassword.pristine && repeatPassword.errors?.required"
                      [ngStyle]="{'color': 'red'}"
                      align="start">
                      Please repeat the password.
                    </md-hint>
                    <md-hint
                      *ngIf="!repeatPassword.pristine && !repeatPassword.errors?.required && repeatPassword.errors?.appValidateEqual"
                      [ngStyle]="{'color': 'red'}"
                      align="start">
                      Password and Password repeat is not equal.
                    </md-hint>
                  </md-input-container>
                </div>

                <div fxFlex>
                  <button type="submit" md-raised-button color="primary" class="button" [disabled]="!authForm.form.valid">Sign up</button>
                </div>
              </div>
            </form>

          </md-tab>
          <md-tab label="Others">
            <div fxLayout="row" fxLayoutAlign="space-around center" id="others-container">
              <button md-button (click)="signUpFacebook()">Facebook</button>
              <button md-button>Google</button>
              <button md-button>Twitter</button>
            </div>
          </md-tab>
        </md-tab-group>
        </div>
        <div fxFlex *ngIf="info">
          Please fill in the rest of the information below.
          <form (ngSubmit)="onInfoSubmit($event)" #infoForm="ngForm">
            <div fxLayout="column" fxLayoutAlign="space-between stretch" >
            <!-- Username field begin. -->
            <div fxFlex>
              <md-input-container class="fields">
                <input mdInput
                       minlength="2"
                       #username="ngModel"
                       [(ngModel)]="model.user.profile.username"
                       name="username"
                       required
                       placeholder="Username">
                <md-hint
                  *ngIf="!username.pristine && username.errors?.required"
                  [ngStyle]="{'color': 'red'}"
                  align="start">
                  Username required
                </md-hint>
                <md-hint
                  *ngIf="!username.pristine && username.errors?.minlength"
                  [ngStyle]="{'color': 'red'}"
                  align="start">
                  Username needs to be at least 2 characters.
                </md-hint>
              </md-input-container>
            </div>
            <!-- Username field end. -->
            <div fxFlex>
              <button type="submit" md-raised-button color="primary" class="button" [disabled]="!infoForm.form.valid">Finish</button>
            </div>
            </div>
          </form>
        </div>
        <md-spinner *ngIf="!auth && !info" fxFlexAlign="center" id="spinner"></md-spinner>
      </div>
    </md-card-content>
  </md-card>
</div>
