#register-container {
  width: 400px;
  height: 450px;
  margin-top: 40px;
}

#others-container {
  margin-top: 30px;
}

#spinner {
  margin-top: 70px;
}

#error {
  color: red;
}

#title {
  font-size: 22px;
  padding-left: 5px;
}

.separator {
  background-color: #E0E0E0;
  height: 1px;
  margin: 20px 0px 20px 0px;
}

.fields {
  width: 100%;
  margin: 20px 0px 0px 0px;
}

.button {
  margin-top: 20px;
}
