.post-container {
  margin-bottom: 20px;
  width: 80%;
  left: 10%;
}

.title-header {
  font-size: 16px;
  background-color: cornflowerblue;
  color: azure;
  height: auto;
  padding: 5px;
  margin-bottom: -16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.post-title-cell{
  width: 600px;
}

.post-logo-container {
  width: 55px;
}
