<md-card class="post-container">
  <md-card fxLayout="row" class="title-header">
    <div class="post-logo-container"></div>
    <div class="post-title-cell" *ngIf="subject">{{subject.title}}</div>
    <!--<div fxFlex>Replies</div>
    <div fxFlex>Views</div>-->
  </md-card>
  <md-nav-list>
    <!--<md-list-item class="category-row" >-->
    <app-forum-post *ngFor="let post of posts" [post]="post"></app-forum-post>
    <p *ngIf="posts.length == 0"> There are not any posts here :(</p>
    <!--</md-list-item>-->
  </md-nav-list>

  <button md-raised-button color="primary" routerLink="./create">Create</button>
</md-card>
