.margin {
  margin: 3px;
}

.margin-for-subs {
  margin-top: 5px;
  margin-bottom: 5px;
}

.boxed-center{
  margin: auto;
}

.margin-to-fix-shit{
  width: 200%;
}

.center-me{
  text-align: center;
}

.scrolling{
  max-height: 500px;
  overflow-y: scroll;
}

.get-right {
  float: right;
}
