<html>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>


  <div fxLayout="row" class="boxed-center" fxFlex="80%">
    <div fxLayout="column">
      <md-card fxFlex="100" class="margin">
        <div fxFlex *ngIf="changingImage">
          <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper><br>
          <button fxLayoutAlign="center center" md-button type="button" (click)="saveNewImage()">Save</button>
        </div>
        <div fxFlex *ngIf="!changingImage">
          <img [src]="data && data.image ? data.image : 'http://placehold.it/128x128'" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
        <button fxLayoutAlign="center center" md-button type="button" (click)="changeImageClick()">Change avatar</button>
        </div>
      </md-card>


      <md-card *ngIf="user" fxFlex class="margin">
        <p><b>Username:</b> {{user.profile.username}}</p>
        <p><b>Email:</b> {{user.profile.email}}</p>
        <p><b>Posts:</b> {{allMyNumbers}} </p>
      </md-card>


    </div>
    <div fxLayout="column" class="margin-to-fix-shit">
      <md-card class="margin">
        <md-card-title class="center-me">My Posts</md-card-title>
      </md-card>

    <md-card fxFlex class="margin scrolling">
      <md-card class="margin-for-subs" *ngFor="let post of posts | async">
        <a  routerLink="../forum/subject/{{post.info.subjectUid}}/post/{{post.uid}}">
          {{post.info.title}}
        </a>
        <button md-raised-button class="get-right" (click)="editPost(post.uid)">Edit <md-icon>mode_edit</md-icon></button>
        <button md-raised-button class="get-right" (click)="deletePost(post.uid)">Delete <md-icon>delete</md-icon></button>
      </md-card>
    </md-card>
    </div>
  </div>




</body>
</html>
