/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html, body {

  /**
  Used for making sure that the space in the body in the vertical direction always
  is 100%, so that the first element will fill the whole page.
   */
  min-height: 100vh;
  margin: 0px;

  background-image: url("assets/img/blue-tech-wallpaper-5.jpg");
  background-attachment: fixed;
}
