<div fxLayout="row" class="post-row">

    <div class="post-logo-container">
    <!--<img src="" class="post-logo">-->
  </div>
  <div fxLayout="column" class="post-row-cell post-title-cell">
    <div fxFlex class="category-title">

      <a routerLink="./post/{{post.uid}}">{{post.info.title}}</a>
    </div>
  </div>
  <div fxFlex>
    {{post.views}}
  </div>
  <div fxFlex>
    {{post.info.views}}
  </div>
</div>
