.post-row {
  border-top: 1px solid black;
  height: 55px;
  padding-top: 2px;
  margin-top: 10px;
}

.post-title-cell{
  width: 600px;
}

.post-logo-container {
  width: 55px;
}

.post-replies{
  text-align: center;
  font-size: 12px;
  width: 150px;
  min-width: 100px;
}

.post-views {

}

.post-logo {
  width: 51px;
  height: 51px;
}
