#wrapper-container{
  height: 150px;
  margin-bottom: 5px;
  width: 500px;
}
#title{
  font-size: 24px;
  text-decoration: underline;
  max-width: 300px;
  max-lines: 1;
}
#username{
  font-size:10px;
}
#content{
  font-size:18px;
  max-lines: 8;
  width: 450px;
  height: 100px;
  overflow: auto;
}
