<md-card id="wrapper-container">
  <md-card-content fxLayout="row" (click)="postSelected()">
    <div fxFlex>
      <div fxLayout="column">
        <div id="title">{{post.info.title}}</div>
        <div id="username">{{post.info.username}}</div>
        <div id="content">{{post.info.content}}</div>
      </div>
    </div>
  </md-card-content>
</md-card>
