
  <form style="width: 70%"
    (ngSubmit)="onSubmit($event)"
    #postForm="ngForm">
    <div fxFlex fxLayout="row" fxLayoutAlign="center center">
      <md-card id="replycard">
        <div fxFlex>
          <md-input-container>
      <textarea mdInput
                rows="4"
                required
                minlength="1"
                placeholder="Reply"
                [(ngModel)]="reply.info.content"
                name="content"
                #content="ngModel">

      </textarea>
            <md-hint
              *ngIf="content.errors?.required"
              [ngStyle]="{'color': 'red'}"
              align="start">
              You must write content
            </md-hint>
            <button type="submit" (click)="content" md-raised-button color="primary">Post</button>
          </md-input-container>
        </div>
      </md-card>
    </div>
  </form>
